
.intro_con{
   position: relative;
   max-width: 1500px;
   height: 37.7rem;
   padding: 3rem 3.5rem 3rem 3.5rem;
   margin: 0 auto;
   margin-top: 3rem !important; 
   align-items: center;
   color: var(--white);
   z-index: 1;
   overflow: hidden;
}
.intro_con, *{
   z-index: 1 !important;
}

.intro_body{
   width: 100% !important;
   position: relative;
   z-index: 10 !important;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 3.5rem;
   gap: 1rem;
}

.intro_head{
   position: absolute;
   width: 89%;
   top: -2rem;
   left: 50%;
   transform: translateX(-50%);
   height: 2rem;
 

   display: flex;
   justify-content: space-between;
   align-items: center;
}
.head_body{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .7rem;
   font-family: var(--Poppins);
}
.head_box{
   font-size: 12px;
   padding: 3px 6px;

   border-radius: 4px;
   color: var(--T-text);
}
.head_txt{
   color: var(--T-text);
   font-size: 13px;
   
}
.ast{
   font-size: 2.7vw;
   color: var(--T-text);
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
}


.title{
   font-size: 8vw;
   
   text-transform: uppercase;
   letter-spacing: .1vw;
   color: var(--T-text);
   font-family: var(--inter-tight);
}


.title_label{
   font-size: 14px;
   max-width: 34rem;
   margin-top: 1.2rem;
   line-height: 23px;
   color: var(--gray) !important;
   text-align: center;
}
.hand {
   display: inline-block;
   animation: wave 2s infinite;
   transform-origin: 70% 70%;
   will-change: transform;
   backface-visibility: hidden;
}

@keyframes wave {
   0% { transform: rotate(0deg); }
   10% { transform: rotate(14deg); }
   20% { transform: rotate(-8deg); }
   30% { transform: rotate(14deg); }
   40% { transform: rotate(-4deg); }
   50% { transform: rotate(10deg); }
   60% { transform: rotate(0deg); }
   100% { transform: rotate(0deg); }
}

.intBtn_con{
   margin-top: 1.4rem;
   display: flex;
   gap: .9rem;
}
.intro_btns{
   padding: 9px 1.2rem;
   background-color: transparent;
   border: none;
   font-family: var(--Poppins);
   font-size: 13px;
   border-radius: 7px;
   cursor: pointer;
}
.intro_btns:hover{
   opacity: .85;
}
.gt_project{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .7rem;
   color: var(--white);
   background-color: #191919;
}.gt_project > span{
   margin-top: 3px;
}
.resume{
   border: var(--T-text) 1px solid;
   color: var(--T-text);
   padding-inline: 1.7rem !important;
}















@media screen and (min-width: 1500px) {
   .title{
      font-size: 7.6rem;
   }
}

@media screen and (max-width: 660px) {
   .intro_head{
      width: 100%;
      top: -3rem;
   }
   
   .title{
      font-size: 18vw;
      line-height: 18vw;
      text-align: center;
   }.title > span{
      font-size: 18.5vw;
   }

   .title_label{
      margin-inline: 2rem;
   }

}

@media screen and (max-width: 550px) {
   .intro_con{
      padding-inline: 1rem !important;
      padding-top: 4rem;
   }
   .intro_head{
      padding-inline: .8rem;
   }
   .main{
      padding-inline: 1.2rem;
   }
   .ast{
      font-size: 5vw;
   }
}
/*mobile*/
@media screen and (max-width: 450px) {
   .intro_con{
      gap: 7rem;
      padding-inline: 1.3rem !important;
   }
   .intro_body{
      margin-top: 2rem;
   }
   .head_txt{
      display: none;
   }
   .intro_head{
      padding-inline: .3rem;
   }
   .title_label{
      font-size: 13px;
      line-height: 20px;
   }
   .intBtn_con{
      margin-top: 1.5rem;
   }
   .intro_btns{
      padding: 7px 1rem;
      font-size: 12px;
   }
   .resume{
      padding-inline: 1.3rem !important;
   }
   .main{
      padding-bottom: 10rem;
   }


}

