.nav{
   /* max-width: 1370px; */
   height: 4.2rem;
   margin: 0 auto;   
   position: fixed;
   width: 100%;
   z-index: 100 !important;
   top: 0;

   color: var(--white);
   padding: 5px 19px;
   background-color: var(--dark-shade);

   backdrop-filter: blur(8px);           
   -webkit-backdrop-filter: blur(8px);   

   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nav, *{
   z-index: 100 !important;
}

.links_soc{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2.4rem;
   margin-right: .5rem;
}
.links_soc > ul{
   display: flex;
   align-items: center;
   gap: 3.1rem;
}
.link{
   font-size: 14px;
   font-weight: var(--DL-weight);
   color: var(--T-text);
   font-family: var(--poppins);
}
.link:hover{
   opacity: .85;
}
.button_con{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
}
.theme_btn{
   display: grid;
   align-content: center;
   background-color: transparent;
   border: none;
   border-radius: 20rem;
   cursor: pointer;
}
.social_btn{
   background-color: transparent;
   border: none;
   cursor: pointer;

   font-family: var(--poppins);
   letter-spacing: .2px;
   font-weight: 300;
   font-size: 13px;

   background-color: #1d2026;
   border-radius: 200rem;
   padding: 3px 7px 3px 15px;

   display: flex;
   align-items: center;
   gap: 9px;
   color: var(--white);
   /* font-style: italic; */
   transition: all 300ms;
}
.social_btn:hover{
   box-shadow: 0px 0px 5px var(--dark-shadow);
}
.social_btn:active{
   opacity: .9;
}
.social_btn > i{
   margin-top: 2.5px;
}
.icon_s{
   width: 24px;
   height: 24px;

}
.menu{
   background-color: transparent;
   border: none;
   cursor: pointer;
   height: 24px;
   display: none;
}


@media screen and (max-width: 660px) {
   [data-togglemenu="open"]{
      --block: block;
      --flex: flex;
   }
   [data-togglemenu="close"]{
      --block: none;
      --flex: none;
   }
   .menu{
      display: block;
   }
   .nav_expand{
      height: 22rem !important;
      align-items: self-start !important;
      padding-top: 1.14rem !important;

      
   }
   .links_soc{
      display: var(--flex);
      position: fixed;
      width: 100%;
      height: 17rem;
      left: 0;
      top: 4.8rem;
      z-index: 200;
      margin-right: .2rem;
      flex-direction: column;
      gap: 2rem;
   }
   .links_soc > ul{
      flex-direction: column;
      margin-right: 0px;
      gap: 2.4rem;
 
   }
   .link{
      font-size: 14px;
      font-weight: var(--DL-weight);
   }

   .button_con{
      width: 100%;
      padding: 0px 1.3rem;
      flex-direction: column;
   }
   .social_btn{
      justify-content: center;
      width: 100%;
      font-weight: 400;
      font-family: 14px;
      border-radius: 5px;
   }
   .icon_s{
      width: 31px;
      height: 31px;
   }
}

@media screen and (max-width: 450px){
   .link{
      font-size: 13px;
   }
}











