@import "tailwindcss";


:root {
  --inter: 'Inter', sans-serif;
  --inter-tight: "Inter Tight", sans-serif;
  --poppins: 'Poppins', sans-serif;
  --darkM: #191919;
  --semi-drk: #1F1F1F;
  --pure-dark: #070707;
  --grayM:#878787;
  --shadow: #2A2A2A;
  --whiteM: #F4F4F4;
}

/* @theme {
  --color-cDark: var(--dark);
  --font-poppinsMine: var(--poppins), sans-serif;
} */

body{
  background-color: var(--pure-dark);
}

@layer base{
  #logo_nav{
    font-family: var(--poppins);
    color: var(--whiteM);
  }
  h1, p, a{
    font-family: var(--inter);
  }
  .poppins_font{
    font-family: var(--poppins);
  }
}

@layer components {
  .link{
    width: 5rem;
    height: 100%;
    background-color: #0074BD;
    border-radius: 3px;
    background-color: var(--semi-drk);
    font-family: var(--poppins);
    font-size: 13px;
    color: var(--whiteM);
    font-weight: 300;
  }
}

.quotes_event:hover .btn_nav{
  @apply top-[0rem];
}
.btn_nav{
  font-family: var(--poppins);
  font-size: 13px;
  transition: 200ms;
  background: linear-gradient(
    #0074BD,
    #97D7FF
  );
}
.active{
  background: linear-gradient(
    #0074BD,
    #97D7FF
  );
}

@utility flex-center {
  @apply flex justify-center items-center;
}

[data-theme='dark'] {
 
}
[data-theme='light'] {

}

::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
