:root {
  
  --dark: #040506;
  /* #040506 */
  --white: #F4F4F4;
  --gray: #6E6E6F;

  --light-green: #00FF11;
  --semi-gray: #777777;

  --shadow: #D8D8D8;
  --dark-shadow: #0B0C0D;

  --inter: 'Inter', sans-serif;
  --poppins: 'Poppins', sans-serif;

  --large-font: 80px;
  --small-font: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  font-family: var(--inter);

}

body,html{
  background-color: var(--dark);
}

html {
  -webkit-text-size-adjust: 100%;
}

button, a{
  -webkit-tap-highlight-color: transparent;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: var(--white);
}

.no-drag {
  -webkit-user-drag: none;
}
.no-callout {
  /* Disable hold touch (copy/save) */
  -webkit-touch-callout: none;
}


::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-track{
  background-color: rgba(141, 141, 141, 0.445);
}
::-webkit-scrollbar-thumb{
  background: var(--dark);
  border-radius: 222px;
}


